body {
	padding-top: 51px;
}

html, body {
    height: 100%;
}

.navbar-brand {
	background: url(../img/icon-128.png);
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: -10px 0px;
	padding-left: 60px;
	padding-right: 20px;
}

.navbar-brand span {
	display: block;
	line-height: 1em;
	font-size: 10px;
	opacity: .8;
}

div.window-body {
	height: 100%;
	width: 100%;
	position: relative;
}

div.window-body div.window-box {
	padding: 10px;
	background: white;
}

div.window-body div.window-box h2 {
	margin-top: 5px;
}


.ui-splitbar {
	background-color: #EEE;
}

.angular-ui-tree-handle {
	cursor: pointer;
	font-weight: normal;
	font-size: 90%;
	white-space: nowrap;
}

.angular-ui-tree-handle .glyphicon {
	margin-right: 4px;
}

.glyphicon-none:before {
    content: "\e080";
    color: transparent !important;
}

.tree-item-name {
	padding: 3px;
}

.has-special-view {
	color: green;
	font-weight: bold;
}

.tree-item-name .glyphicon {

}

.tree-item-name:hover, .datatree-item-name:hover {
	border-radius: 2px;
	border: 0;
	box-shadow: 0 0 0 2px grey;
}

.datatree-item:hover {
	background-color: #eee;
}

.datatree-item-name {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	white-space: nowrap;
}

.datatree-depth-1 .datatree-item-name {
	width: 180px;
}
.datatree-depth-2 .datatree-item-name {
	width: 160px;
}
.datatree-depth-3 .datatree-item-name {
	width: 140px;
}
.datatree-depth-4 .datatree-item-name {
	width: 120px;
}
.datatree-depth-5 .datatree-item-name {
	width: 100px;
}
.datatree-depth-6 .datatree-item-name {
	width: 80px;
}

.datatree-item-name .glyphicon {
	padding-left: 4px;
	padding-right: 4px;
}

.datatree-item-data {
	display: inline-block;
	width: calc(50% - 100px);
	color: #340933;
	vertical-align: top;
}

.datatree-root-comments {
	color: #008000;
	padding-left: 20px;
	margin-bottom: 15px;
}

.datatree-item-comments {
	display: inline-block;
	width: calc(50% - 200px);
	color: #008000;
	vertical-align: top;
}



.datatree-item-type {
	display: inline-block;
	width: 100px;
	color: #408000;
}

.datatext {
	white-space: pre-wrap;
	font-family: monospace;
	max-width: 80em;
	border: 1px solid #eee;
	padding: 5px;
	-webkit-user-select: text;
}

.map-action-bar {
	display: inline-block;
	font-size: 16px;
	float: right;
	vertical-align: middle;
}

.map-contents {
	position: relative;
}

.map-hint {
	position: absolute;
	left: 40px;
	top: 10px;
	background: white;
	border: 1px solid black;
	z-index: 1;
	padding: 3px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 4px;
}

.map-label {
	position: absolute;
	color: black;
	xtransform: translate(-100%, -100%);
	text-shadow: 0.5px 0.5px white;
	text-align: center;
	display: table-cell;
	z-index: 4;
}

.map-window {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.map-window canvas {
	position: relative;
	top: 0;
	left: 0;
}

.area-closest {
	font-size: 80%;
}

.text-output-window {
	overflow: hidden;
}

.text-output-window h3 {
	margin: 0;
	padding: 7px;
	height: 35px;
	border: 1px solid #bbb;
	border-bottom: none;
	font-size: 20px;
}

.text-output-window .text-output-body {
	width: 100%;
	height: calc(100% - 35px);
}

.text-output-window .text-output-body textarea {
	width: 100%;
	height: 100%;
}

.loading-icon {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
}

.loading-icon.icon-animate {
	background: url(../img/cog-icon.svg);
	background-size: 100% 100%;
}

.icon-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Disable navbar collapse */
.navbar-collapse.collapse {
	display: block !important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right !important;
}

.navbar-nav {
	margin: 0;
}

.navbar-nav > li > a {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.property-list dt {
	text-align: left;
}

h5 {
	font-weight: bold;
}

.pan-zoom-contents canvas {
	position: absolute;
	top: 0;
	left: 0;
}


.pan-zoom-contents canvas#PanZoomCanvasHover {
	z-index: 2;
}
.pan-zoom-contents canvas#PanZoomCanvas {
	z-index: 1;
}

.pan-zoom-contents img#gridImage {
	z-index: 3;
}

.pan-zoom-contents img#scrollImage {
	z-index: 0;
}

.pan-zoom-contents .label-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 2816px;
	height: 1024px;
}



.pan-zoom-contents img {
	position: absolute;
	top: 0;
	left: 0;
}

/* Some mini scrollbars appear in the panel splitters */
.ui-layout-row > .ui-splitbar {
	overflow: hidden;
}
