<div ui-layout="{ flow : 'column'}">
	<div ui-layout-container size="300px" remember-size="true" class="window-box">
		<div ng-controller="ModTree">
		<button type="button" class="btn btn-default pull-right btn-sm" ng-click="refreshOpenDirectories()"><span class="glyphicon glyphicon-refresh" ng-class="{'icon-animate': dirLoading}"></span></button>
		<h2>{{modService.data.mod.name ? modService.data.mod.name : '- Unknown -'}}</h2>
		<!-- Nested node template -->
		<script type="text/ng-template" id="nodes_renderer_file.html">
		<div ui-tree-handle ng-class="{'has-special-view': node.specialView}">
			<span class="glyphicon glyphicon-none" data-nodrag></span><span class="tree-item-name" ng-click="open(node)"><span class="glyphicon glyphicon-{{::fileTypeToIcon(node)}}"></span>{{::node.name}}</span>
		</div>
		</script>
		<script type="text/ng-template" id="nodes_renderer.html">
			<div ui-tree-handle ng-class="{'has-special-view': node.specialView}">
				<span class="glyphicon" data-nodrag ng-class="{'glyphicon-none': (node.dirLoaded && !node.count), 'glyphicon-chevron-right': (!node.dirLoaded || node.count) && collapsed, 'glyphicon-chevron-down': (!node.dirLoaded || node.count) && !collapsed}" ng-click="toggleNode(this, node)"></span><span class="tree-item-name" ng-click="open(node)"><span class="glyphicon glyphicon-{{fileTypeToIcon(node)}}"></span>{{node.name}}</span>
			</div>
			<ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="node.folders">
				<li ng-repeat="node in (node.folders | collapseFilter:collapsed)" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true">
				</li>
			</ol>
			<ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="node.files">
				<li ng-repeat="node in (node.files | collapseFilter:collapsed)" ui-tree-node ng-include="'nodes_renderer_file.html'">
				</li>
			</ol>
		</script>

		<div ui-tree data-drag-enabled="false">
			<ol ui-tree-nodes ng-model="modService.data.fileSystem.root.folders">
				<li ng-repeat="node in modService.data.fileSystem.root.folders" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true"></li>
			</ol>
			<ol ui-tree-nodes ng-model="modService.data.fileSystem.root.files">
				<li ng-repeat="node in modService.data.fileSystem.root.files" ui-tree-node ng-include="'nodes_renderer_file.html'" data-collapsed="true"></li>
			</ol>
		</div>
		</div>
	</div>
	<div ui-layout-container class="window-box">
		<div ui-view>
			<h2>Explore</h2>
			<p ng-show="!modService.data">You probably see this because you don't have a mod dir configured. Do that in <a ui-sref="settings">Settings</a>.</p>
			<p ng-show="modService.data">Explore your mod structure. Green items have extra tools attached.</p>
		</div>
	</div>
</div>