<div ng-controller="MapCheck">
<div ui-layout="{ flow : 'row'}">
	<div ui-layout-container>
		<div ui-layout="{ flow : 'row'}" style="overflow: hidden;">
			<div ui-layout-container size="60px" style="overflow: hidden;">
				<div class="window-box">
					<h2>Map tool <span class="loading-icon" ng-class="{'icon-animate': loading}"></span>
						<button ng-if="hasSeasPng" type="button" class="btn btn-primary" ng-click="loadSeasMap()">Analyze seas.png</button>
						<button type="button" class="btn btn-primary" ng-click="loadNumberedMap()">Analyze provinces.bmp</button>
						<button type="button" class="btn btn-primary" ng-click="compareWithDefinitions()">Compare with current</button>

						<div class="map-action-bar">
							Options
							<div class="btn-group">
								<label class="btn btn-success" ng-model="options.showGrid" btn-checkbox>Grid</label>
								<label class="btn btn-success" ng-model="options.highLight" btn-checkbox>Highlight</label>
								<label class="btn btn-success" ng-model="options.showLabels" btn-checkbox>Labels</label>
							</div>
							Views
							<select ng-model="view" ng-options="opt as opt for opt in views"></select>
							<div class="btn-group">
								<label class="btn btn-success" ng-model="view" btn-radio="'provinces'">Provinces</label>
								<label ng-if="hasSeasPng" class="btn btn-success" ng-model="view" btn-radio="'seas'">Seas</label>
								<label class="btn btn-success" ng-model="view" btn-radio="'countries'">Countries</label>
							</div>
						</div>
					</h2>
				</div>
			</div>
		 	<div ui-layout-container>
				<div class="window-body">
					<div ng-controller="PanZoom" style="width:100%;height:100%;" size-element>
					    <div style="position:relative">
					        <panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
					        <div class="map-hint" ng-show="mapHint">{{mapHint}}</div>
					        <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:100%;height: {{height}}px;">
					        	<div class="map-contents" ng-mousedown="toggleAreaDown($event)" ng-mouseup="toggleAreaUp($event)" ng-mousemove="toggleAreaHover($event)">
					        		<img ng-src="{{overlayImage}}" id="overlayImage" width="{{mapWidth}}" height="{{mapHeight}}">
					            	<canvas id="PanZoomCanvas" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
					            	<canvas id="PanZoomCanvasSelect" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
					            	<canvas id="PanZoomCanvasHover" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
					            	<div>
					            		<img ng-src="{{scrollImage}}" id="scollImage" width="{{mapWidth}}" height="{{mapHeight}}">
					            		<img ng-src="{{gridImage}}" id="gridImage" ng-show="gridImage" width="{{mapWidth}}" height="{{mapHeight}}">
					            	</div>
					            	<div class="map-labels" ng-show="options.showLabels">
					            		<div ng-repeat="label in labels" class="map-label" style="left:{{::label.extentMin[0]}}px; top: {{::label.extentMin[1]}}px; width: {{::label.extentSize[0]}}px; height: {{::label.extentSize[1]}}px; line-height: {{::label.extentSize[1]}}px;{{::label.message ? ' color: red; outline: 2px solid red;' : ''}};" title="{{::label.message}}">{{::label.text}}</div>
					            	</div>
					            	<div class="label-cover" style="width: {{mapWidth}}px; height:{{mapHeight}}px"></div>
				            	</div>
					        </panzoom>
<script id="vshader" type="whatever">
	attribute vec4 a_position;
	varying vec2 v_texcoord;

    void main() {
		gl_Position = a_position;
    	v_texcoord = a_position.xy * 0.5 + 0.5;
    }
</script>
<script id="fshader" type="whatever">
	precision mediump float;
	varying vec2 v_texcoord;
	uniform sampler2D u_sampler;
	void main() {
	    gl_FragColor = texture2D(u_sampler, v_texcoord);
	}
</script>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ui-layout-container size="200px" remember-size="true">
		<div ui-layout="{ flow : 'column'}">
			<div ui-layout-container class="text-output-window">
				<div class="data-view-text" ng-if="dataViewLeft.type == 'output'">
					<h3>
						{{outputTitle}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-text-body">
						<textarea ng-model="output"></textarea>
					</div>
				</div>
				<div class="data-view-text" ng-if="dataViewLeft.type == 'text'">
					<h3>
						{{dataViewLeft.history.file.path}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-text-body">
						<textarea ng-model="dataViewLeft.historyText"></textarea>
					</div>
				</div>
				<div class="data-view-province" ng-if="dataViewLeft.type == 'province'">
					<h3>
						{{dataViewLeft.history.file.name}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-province-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td><input ng-model="dataViewLeft.provinceLocalisation[dataViewInfo.provinceLocalisationLanguage][dataViewInfo.provinceLocalisationId]"></td>
							</tr>
							<tr>
								<td>Owner</td>
								<td><input ng-model="dataViewLeft.history.data.data.owner"></td>
							</tr>
							<tr>
								<td>Controller</td>
								<td><input ng-model="dataViewLeft.history.data.data.controller"></td>
							</tr>
							<tr>
								<td>Base tax</td>
								<td><input ng-model="dataViewLeft.history.data.data.base_tax"></td>
							</tr>
							<tr>
								<td>Manpower</td>
								<td><input ng-model="dataViewLeft.history.data.data.manpower"></td>
							</tr>
							<tr>
								<td>Culture</td>
								<td><input ng-model="dataViewLeft.history.data.data.culture"></td>
							</tr>
							<tr>
								<td>Religion</td>
								<td><input ng-model="dataViewLeft.history.data.data.religion"></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-country" ng-if="dataViewLeft.type == 'country'">
					<h3>
						{{dataViewLeft.country.file.name}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-country-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td><input ng-model="dataViewLeft.countryLocalisation[dataViewInfo.countryLocalisationLanguage][dataViewInfo.countryLocalisationId]"></td>
							</tr>
							<tr>
								<td>Owner</td>
								<td><input ng-model="dataViewLeft.country.data.data.color"></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-country" ng-if="dataViewLeft.type == 'localisation'">
					<h3>
						Localisation (English)

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-country-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Province name</td>
								<td>
									<input ng-model="dataViewLeft.provinceLocalisation.data[dataViewLeft.provinceLocalisationLanguage][dataViewLeft.provinceLocalisationId]">
									<button type="button" class="btn btn-primary btn-xs" ng-click="modService.saveData(dataViewLeft.provinceLocalisation)">Save</button>
								</td>
							</tr>
							<tr>
								<td>Country name</td>
								<td>
									<input ng-model="dataViewLeft.countryLocalisation.data[dataViewLeft.countryLocalisationLanguage][dataViewLeft.countryLocalisationId]">
								</td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
			<div ui-layout-container class="text-output-window">
				<h3>{{messagesTitle}}</h3>
				<div class="text-output-body">
					<textarea ng-model="messages"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
</div>