<div ng-controller="MapCheck">
<div ui-layout="{ flow : 'row'}">
	<div ui-layout-container>
		<div ui-layout="{ flow : 'row'}" style="overflow: hidden;">
			<div ui-layout-container size="60px" style="overflow: hidden;">
				<div class="window-box">
					<h2>Map tool <span class="loading-icon" ng-class="{'icon-animate': loading}"></span>
						<button ng-if="hasSeasPng" type="button" class="btn btn-primary" ng-click="loadSeasMap()">Analyze seas.png</button>
						<button type="button" class="btn btn-primary" ng-click="loadNumberedMap()">Analyze provinces.bmp</button>
						<button type="button" class="btn btn-primary" ng-click="compareWithDefinitions()">Compare with current</button>

						<div class="map-action-bar">
							Options
							<div class="btn-group">
								<label class="btn btn-success" ng-model="options.showGrid" btn-checkbox>Grid</label>
								<label class="btn btn-success" ng-model="options.highLight" btn-checkbox>Highlight</label>
								<label class="btn btn-success" ng-model="options.showLabels" btn-checkbox>Labels</label>
								<label class="btn btn-success" ng-model="options.showTerrainOverlay" btn-checkbox>Terrain</label>
							</div>
							Labels
							<select ng-model="labelView" ng-options="opt as opt for opt in labelViews"></select>
							Views
							<select ng-model="view" ng-options="opt as opt for opt in views"></select>
							<div class="btn-group">
								<label class="btn btn-success" ng-model="view" btn-radio="'provinces'">Provinces</label>
								<label ng-if="hasSeasPng" class="btn btn-success" ng-model="view" btn-radio="'seas'">Seas</label>
								<label class="btn btn-success" ng-model="view" btn-radio="'countries'">Countries</label>
							</div>
						</div>
					</h2>
				</div>
			</div>
		 	<div ui-layout-container>
				<div class="window-body">
					<div ng-controller="PanZoom" style="width:100%;height:100%;" size-element>
					    <div style="position:relative">
					        <panzoomwidget panzoom-id="PanZoom" style="position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
					        <div class="map-hint" ng-show="mapHint">{{mapHint}}</div>
					        <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="width:100%;height: {{height}}px;">
					        	<div class="map-contents" ng-mousedown="toggleAreaDown($event)" ng-mouseup="toggleAreaUp($event)" ng-mousemove="toggleAreaHover($event)">
					        		<img ng-src="{{overlayImage}}" id="overlayImage" width="{{mapWidth}}" height="{{mapHeight}}" ng-show="options.showTerrainOverlay">
					            	<canvas id="PanZoomCanvas" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
					            	<canvas id="PanZoomCanvasSelect" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
					            	<canvas id="PanZoomCanvasHover" width="{{mapWidth}}" height="{{mapHeight}}"></canvas>
				            		<img ng-src="{{scrollImage}}" id="scollImage" width="{{mapWidth}}" height="{{mapHeight}}">
				            		<img ng-src="{{gridImage}}" id="gridImage" ng-show="gridImage" width="{{mapWidth}}" height="{{mapHeight}}">
					            	<div class="map-labels" ng-show="options.showLabels" xstyle="font-size: {{inverseMapCssScale(model.zoomLevel)}}em;">
					            		<div ng-repeat="label in labels" class="map-label" ng-class="{'hovered': label.area._hovered}" style="left:{{::label.x}}px; top: {{::label.y}}px; width: {{::label.width}}px; height: {{::label.height}}px;{{::label.css ? label.css : ''}};" title="{{::label.message}}">{{label.text._text}}</div>
					            	</div>
					            	<div class="label-cover" style="width: {{mapWidth}}px; height:{{mapHeight}}px"></div>
				            	</div>
					        </panzoom>
<script id="vshader" type="whatever">
	attribute vec4 a_position;
	varying vec2 v_texcoord;

    void main() {
		gl_Position = a_position;
    	v_texcoord = a_position.xy * 0.5 + 0.5;
    }
</script>
<script id="fshader" type="whatever">
	precision mediump float;
	varying vec2 v_texcoord;
	uniform sampler2D u_sampler;
	void main() {
	    gl_FragColor = texture2D(u_sampler, v_texcoord);
	}
</script>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ui-layout-container size="200px" remember-size="true">
		<div ui-layout="{ flow : 'column'}">
			<div ui-layout-container class="text-output-window">
				<div class="data-view-text" ng-if="dataViewLeft.type == 'output'">
					<h3>
						{{outputTitle}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-text-body">
						<textarea ng-model="output"></textarea>
					</div>
				</div>
				<div class="data-view-text" ng-if="dataViewLeft.type == 'text'">
					<h3>
						{{dataViewLeft.province.file.path}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-text-body">
						<textarea ng-model="dataViewLeft.provinceText"></textarea>
					</div>
				</div>
				<div class="data-view-province" ng-if="dataViewLeft.type == 'province'">
					<h3>
						{{dataViewLeft.province.file.name}}
						<button type="button" class="btn btn-primary btn-xs" ng-click="saveDataNode(dataViewLeft.province)">Save</button>

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-province-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td>
									<input ng-model="dataViewLeft.province._localisation['l_english']._text">
								</td>
							</tr>
							<tr>
								<td>Owner</td>
								<td><input ng-model="dataViewLeft.province.data.data.owner"></td>
							</tr>
							<tr>
								<td>Controller</td>
								<td><input ng-model="dataViewLeft.province.data.data.controller"></td>
							</tr>
							<tr>
								<td>Base tax</td>
								<td><input ng-model="dataViewLeft.province.data.data.base_tax"></td>
							</tr>
							<tr>
								<td>Manpower</td>
								<td><input ng-model="dataViewLeft.province.data.data.manpower"></td>
							</tr>
							<tr>
								<td>Trade goods</td>
								<td><input ng-model="dataViewLeft.province.data.data.trade_goods"></td>
							</tr>
							<tr>
								<td>Culture</td>
								<td><input ng-model="dataViewLeft.province.data.data.culture"></td>
							</tr>
							<tr>
								<td>Religion</td>
								<td><input ng-model="dataViewLeft.province.data.data.religion"></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-province" ng-if="dataViewLeft.type == 'multiEnvironment'">
					<h3>
						Environment {{dataViewLeft.multiProvince.provinces.length}} provinces
						<button type="button" class="btn btn-primary btn-xs" ng-click="saveMultiDataNode(dataViewLeft.multiProvince)">Save</button>

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-province-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Provinces</td>
								<td>{{dataViewLeft.multiProvince.provinceNames}}</td>
							</tr>
							<tr>
								<td>Continent</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._continent"> <input ng-model="dataViewLeft.multiProvince.data._continent"> {{dataViewLeft.multiProvince.multiData._continent}}</td>
							</tr>
							<tr>
								<td>Climate</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._climate"> <input ng-model="dataViewLeft.multiProvince.data._climate"> {{dataViewLeft.multiProvince.multiData._climate}}</td>
							</tr>
							<tr>
								<td>Is sea start</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._isSeaStart"> <input ng-model="dataViewLeft.multiProvince.data._isSeaStart"> {{dataViewLeft.multiProvince.multiData._isSeaStart}}</td>
							</tr>
							<tr>
								<td>Is lake</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._isLake"> <input ng-model="dataViewLeft.multiProvince.data._isLake"> {{dataViewLeft.multiProvince.multiData._isLake}}</td>
							</tr>
							<tr>
								<td>Force coastal</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._isForcedCoastal"> <input ng-model="dataViewLeft.multiProvince.data._isForcedCoastal"> {{dataViewLeft.multiProvince.multiData._isForcedCoastal}}</td>
							</tr>
							<tr>
								<td>Regions</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._regions"> <input ng-model="dataViewLeft.multiProvince.data._regions"> {{dataViewLeft.multiProvince.multiData._regions}}</td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-province" ng-if="dataViewLeft.type == 'multiProvince'">
					<h3>
						{{dataViewLeft.multiProvince.provinces.length}} provinces
						<button type="button" class="btn btn-primary btn-xs" ng-click="saveMultiDataNode(dataViewLeft.multiProvince)">Save</button>

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-province-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Provinces</td>
								<td>{{dataViewLeft.multiProvince.provinceNames}}</td>
							</tr>
							<tr>
								<td>Owner</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.owner"> <input ng-model="dataViewLeft.multiProvince.data.owner"> {{dataViewLeft.multiProvince.multiData.owner}}</td>
							</tr>
							<tr>
								<td>Controller</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.controller"> <input ng-model="dataViewLeft.multiProvince.data.controller"> {{dataViewLeft.multiProvince.multiData.controller}}</td>
							</tr>
							<tr>
								<td>Base tax</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.base_tax"> <input ng-model="dataViewLeft.multiProvince.data.base_tax"> {{dataViewLeft.multiProvince.multiData.base_tax}}</td>
							</tr>
							<tr>
								<td>Manpower</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.manpower"> <input ng-model="dataViewLeft.multiProvince.data.manpower"> {{dataViewLeft.multiProvince.multiData.manpower}}</td>
							</tr>
							<tr>
								<td>Trade goods</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.trade_goods"> <input ng-model="dataViewLeft.multiProvince.data.trade_goods"> {{dataViewLeft.multiProvince.multiData.trade_goods}}</td>
							</tr>
							<tr>
								<td>Culture</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.culture"> <input ng-model="dataViewLeft.multiProvince.data.culture"> {{dataViewLeft.multiProvince.multiData.culture}}</td>
							</tr>
							<tr>
								<td>Religion</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData.religion"> <input ng-model="dataViewLeft.multiProvince.data.religion"> {{dataViewLeft.multiProvince.multiData.religion}}</td>
							</tr>
							<tr>
								<td>Cores</td>
								<td><input type="checkbox" ng-model="dataViewLeft.multiProvince.hasData._addCores"> <input ng-model="dataViewLeft.multiProvince.data._addCores"> {{dataViewLeft.multiProvince.multiData._addCores}}</td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-country" ng-if="dataViewLeft.type == 'country'">
					<h3>
						{{dataViewLeft.country.file.name}}

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-country-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td><input ng-model="dataViewLeft.province._country._localisation['l_english']"></td>
							</tr>
							<tr>
								<td>Tag</td>
								<td><input ng-model="dataViewLeft.province._country._tag.name"></td>
							</tr>
							<tr>
								<td>Color</td>
								<td><input ng-model="dataViewLeft.province._country.color"></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<div class="data-view-country" ng-if="dataViewLeft.type == 'localisation'">
					<h3>
						Localisation (English)

						<div class="btn-group pull-right">
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'province'">Prov</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'text'">Txt</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'country'">Country</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'localisation'">Loc</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'multiEnvironment'">Env</label>
							<label class="btn btn-success btn-xs" ng-model="dataViewLeft.type" btn-radio="'output'">Output</label>
						</div>
					</h3>
					<div class="data-view-country-body">
						<table class="table">
						<tbody>
							<tr>
								<td>Province name</td>
								<td>
									<input ng-model="dataViewLeft.province._localisation['l_english']._text">
									<button type="button" class="btn btn-primary btn-xs" ng-click="saveDataNode(dataViewLeft.province._localisation['l_english']._node)">Save</button>
								</td>
							</tr>
							<tr>
								<td>Country name</td>
								<td>
									<input ng-model="dataViewLeft.province._country._tag._localisation['l_english']._text">
									<button type="button" class="btn btn-primary btn-xs" ng-click="saveDataNode(dataViewLeft.province._country._tag._localisation['l_english']._node)">Save</button>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
			<div ui-layout-container class="text-output-window">
				<h3>{{messagesTitle}}</h3>
				<div class="text-output-body">
					<textarea ng-model="messages"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
</div>