<h2>{{node.name}} <span class="loading-icon" ng-class="{'icon-animate': loading}"></h2>

<div ng-if="node.fileType == 'collada' || node.fileType == 'pdx-mesh'">
	<p>
		<button ng-if="node.fileType == 'collada'" type="button" class="btn btn-primary" ng-click="convertToPdxmesh()">Convert to PdxMesh (.mesh)</button>
		<button ng-if="node.fileType == 'pdx-mesh'" type="button" class="btn btn-primary" ng-click="convertToCollada()">Convert to Collada (.dae)</button></p>
	</p>
</div>

<dl class="dl-horizontal">
	<dt>Full path:</dt><dd>{{node.path}}</dd>
	<dt>Size:</dt><dd>{{node.metadata.size || '?'}} bytes</dd>
	<dt>Last modified:</dt><dd>{{node.metadata.modificationTime.toLocaleString() || '?'}}</dd>
	<dt ng-if="node.extension != null">Extension:</dt><dd ng-if="node.extension != null">{{node.extension}}</dd>
	<dt ng-if="node.fileType != null">File type:</dt><dd ng-if="node.fileType != null">{{node.fileType}}</dd>
</dl>


<div ng-if="image != null">
	<h3>Image ({{image.width}}x{{image.height}})</h3>
	<img ng-src="{{image.src}}" style="max-width: 100%">
</div>

<div id="model-viewer" ng-show="viewScene">
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.showSkeletons">Skeleton</button>
		<button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.showMeshes">Mesh</button>
	<!--  <button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.showWireframes">Wireframes</button> -->
		<button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.showColliders">Colliders</button>
		<button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.showSpotlights">Spotlights</button>
	</div>
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default" ng-click="zoomIn()"><span class="glyphicon glyphicon-plus"></span></button>
		<button type="button" class="btn btn-default" ng-click="zoomOut()"><span class="glyphicon glyphicon-minus"></span></button>
		<button type="button" class="btn btn-default" btn-checkbox ng-model="viewScene.viewConfig.rotate"><span class="glyphicon glyphicon-refresh"></span></button>
	</div>
	<span>Meshes: {{viewScene.viewConfig.viewObject.meshCount}} - Triangles: {{viewScene.viewConfig.viewObject.triangleCount}} - Bones: {{viewScene.viewConfig.viewObject.boneCount}}</span>

	<div id="3dview">
		<div class="view3d-labels"></div>
	</div>
	<div ng-show="!selectMultipleAnimations">
		<h3>Run .anim animation</h3>
		<dl class="dl-horizontal">
			<dt>Current animation:</dt><dd><select ng-model="selectedAnimation" ng-options="opt as opt.name for opt in animations"><option value="">- none -</option></select></dd>
			<dt ng-if="selectedAnimation">FPS:</dt><dd ng-if="selectedAnimation">{{selectedAnimation.fps.toFixed(2)}}</dd>
			<dt ng-if="selectedAnimation">Bones:</dt><dd ng-if="selectedAnimation">{{selectedAnimation.bones}}</dd>
			<dt ng-if="selectedAnimation">Duration:</dt><dd ng-if="selectedAnimation">{{selectedAnimation.duration.toFixed(2)}} seconds</dd>
		</div>
	</div>
	<div ng-if="selectMultipleAnimations">
		<h3>Embedded animations</h3>
		<div>
			<p><button type="button" class="btn btn-primary" ng-click="convertMultipleToPdxAnim()" ng-disabled="!selectedAnimations.length">Convert selected to .anim</button></p>
		</div>
		<table class="table">
		<thead>
			<tr><th>Animation</th><th>FPS</th><th>Bones</th><th>Duration</th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="animation in animations">
				<td><label><input type="checkbox" ng-click="toggleSelectedAnimation(animation)"> {{animation.name}}</label></td>
				<td>{{animation.fps.toFixed(2)}}</td>
				<td>{{animation.bones}}</td>
				<td>{{animation.duration.toFixed(2)}} seconds</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div ng-if="meshes">
		<h3>Meshes</h3>
		<table class="table mesh-list">
		<thead>
			<tr><th>Name</th><th>PDX Shader</th><th>Textures</th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="mesh in meshes">
				<td width="20%">{{mesh.name}}</label></td>
				<td width="40%">
					<select ng-model="mesh.pdxMaterial.shader" ng-options="opt as opt for opt in pdxShaders"><option value="">- Other -</option></select><br />
					<input ng-show="pdxShaders.indexOf(mesh.pdxMaterial.shader) == -1" ng-model="mesh.pdxMaterial.shader">
					<p><em>{{pdxShaderDescriptions[mesh.pdxMaterial.shader]}}</em></p>
				</td>
				<td width="40%">
					<dl class="dl-horizontal" ng-show="mesh.pdxMaterial.shader != 'Collision'">
						<dt>Diffuse:</dt>
						<dd>
							<select ng-model="mesh.pdxMaterial.diff" ng-options="opt as opt for opt in textureFiles"><option value="">- Other -</option></select><br />
							<input ng-show="textureFiles.indexOf(mesh.pdxMaterial.diff) == -1" ng-model="mesh.pdxMaterial.diff">
						</dd>
						<dt>Normal:</dt>
						<dd>
							<select ng-model="mesh.pdxMaterial.n" ng-options="opt as opt for opt in textureFiles"><option value="">- Other -</option></select><br />
							<input ng-show="textureFiles.indexOf(mesh.pdxMaterial.n) == -1" ng-model="mesh.pdxMaterial.n">
						</dd>
						<dt>Specular:</dt>
						<dd>
							<select ng-model="mesh.pdxMaterial.spec" ng-options="opt as opt for opt in textureFiles"><option value="">- Other -</option></select><br />
							<input ng-show="textureFiles.indexOf(mesh.pdxMaterial.spec) == -1" ng-model="mesh.pdxMaterial.spec">
						</dd>
					</dl>
					<em ng-show="mesh.pdxMaterial.shader == 'Collision'">- Not supported for this shader -</em>
				</td>
			</tr>
		</tbody>
		</table>
		<div>
			<p><button type="button" class="btn btn-primary" ng-click="savePdxMesh()">Save mesh changes to file</button></p>
		</div>
	</div>
</div>

<div ng-if="node.treeData != null">
	<h3>Data structure</h3>

	<script type="text/ng-template" id="datanodes_renderer.html">
		<div ui-tree-handle class="datatree-item datatree-depth-{{dataNode.depth}}">
			<span class="glyphicon" data-nodrag ng-class="{'glyphicon-none': (!dataNode.subNodes.length), 'glyphicon-chevron-right': (dataNode.subNodes.length) && collapsed, 'glyphicon-chevron-down': dataNode.subNodes.length && !collapsed}" ng-click="this.toggle()"></span>
			<span class="datatree-item-name" ng-click="this.toggle()"><span class="glyphicon glyphicon-{{dataNode.icon ? dataNode.icon : 'folder-close'}}"></span>{{::dataNode.name}}</span>
			<span class="datatree-item-type" ng-show="node.treeDataType != 'simple'">{{::dataNode.type}}</span>
			<span class="datatree-item-data" ng-show="dataNode && dataNode.value !== null">{{::dataSample(dataNode.value, node.treeDataType)}}{{::nodeData.nullByteString ? ' (null byte)' :''}}</span>
			<span class="datatree-item-comments" ng-show="dataNode.comments"><span ng-repeat="c in dataNode.comments | commentFilter track by $index"># {{c}}<br /></span></span>
		</div>
		<ol ng-class="{hidden: collapsed}" ui-tree-nodes ng-model="dataNode.subNodes">
			<li ng-repeat="dataNode in dataNode.subNodes" ui-tree-node ng-include="'datanodes_renderer.html'" data-collapsed="true">
			</li>
		</ol>
	</script>

	<div ui-tree data-drag-enabled="false" data-empty-place-holder-enabled="false">
		<div class="datatree-root-comments" ng-show="node.treeData.comments">
			<span ng-repeat="c in node.treeData.comments | commentFilter track by $index"># {{c}}<br /></span>
		</div>
		<ol ui-tree-nodes ng-model="node.treeData.subNodes">
			<li ng-repeat="dataNode in node.treeData.subNodes" ui-tree-node ng-include="'datanodes_renderer.html'" data-collapsed="true"></li>
		</ol>
	</div>

<!--
	<h4>In JSON <div class="btn-group"><button class="btn btn-xs btn-default" ng-model="showJson" btn-radio="true">Show</button><button class="btn btn-xs btn-default" ng-model="showJson" btn-radio="false">Hide</button></div></h4>
	<div class="datatext" ng-show="showJson">{{node.treeData | jsonFiltered: ['comments', 'icon', 'depth']:'    '}}</div>
-->
</div>

<div ng-if="node.textData != null">
	<h3>Text contents</h3>

	<div class="datatext">{{node.textData}}</div>
</div>