/*@import '~antd/dist/antd.css';*/
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

/* General styling */

body {
  padding: 0;
  margin: 0;
  font-size: 130%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
  background-color: #eee;
}

html, body, #root {
  height: 100%;
}

.layout-pane.layout-pane-primary {
  display: flex;
}

/* File tree scroll-fixes */
.splitter-layout .layout-pane:first-child {
  display: flex !important;
}

.splitter-layout .layout-pane:first-child > div {
  overflow-x: hidden !important;;
}

.infinite-tree {
  font-size: 90%;
  outline: 0;
}

.infinite-tree-scroll {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.infinite-tree-content {
  min-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.splitter-layout {
  position: relative !important;;
  height: auto;
  flex: 1;
}

.splitter-layout>.layout-splitter {
  min-height: 100%;
  height: auto;
}

/* File tree styling */

.infinite-tree-toggler {
  width: 18px;
  display: inline-block;
  text-align: center;
  transform: rotate(90deg);
  color: black;
  font-weight: bold;
  vertical-align: middle;
}

.infinite-tree-closed {
  transform: rotate(0deg);
}

.infinite-tree-type {
  width: 24px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
}

.infinite-tree-type-more {
  xfont-size: 125%;
}

.infinite-tree-item {
  font-size: 80%;
  line-height: 90%;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.infinite-tree-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.infinite-tree-selected {
  background-color: #fdd835 !important;
}

.infinite-tree-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: -10%;
}

.infinite-tree-node {
  height: 22px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
}

.filetree-known-type {
  color: #006400;
}

/* PDX script/data File view tree styling */

.pdx-script-node, .pdx-script-value {
  width: 300px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.pdx-script-count {
  color: grey;
  flex-shrink: 0;
  width: 30px;
  line-height: 22px;
}
.pdx-data-type {
  color: darkgreen;
  width: 100px;
  flex-shrink: 0;
  line-height: 22px;
}
.pdx-script-value, .pdx-data-value {
  color: darkgreen;
  flex-grow: 1;
  line-height: 22px;
}

/* react-redux-grid */
.react-grid-container {
  display: flex;
  flex-direction: column;
}

a {
  /*color: #c6a700;*/
  color: inherit;
}

.react-grid-page-buttons {
  background-color: #fdd835 !important;
  color: black !important;
  /*box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);*/
  /* margin: 5px !important; */
}
.react-grid-pager-toolbar {
  /* height: 35px !important; */
}

.react-grid-page-buttons:disabled {
  background-color: inherit !important;
  color: grey !important;
}

.react-grid-table.structure-type-list .react-grid-cell span {
  text-decoration: underline;
}

.react-grid-table.structure-type-list .react-grid-cell span:hover {
  text-decoration: inherit;
}

.react-grid-cell a:hover {
  text-decoration: none;
}

.react-grid-cell {
  font-family: inherit !important;
  line-height: inherit !important;;
  font-size: inherit !important;
  height: 30px !important;
  vertical-align: middle;
}

.react-grid-row {
  transition-duration: inherit !important;
}

.react-grid-cell-handle-container {
  display: inline !important;
  height: inherit !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.react-grid-cell-tree-arrow::before {
  left: 0 !important;
  top: 0 !important;
  font-size: 10px !important;
}