@import '~antd/dist/antd.css';


body {
  padding: 0;
  margin: 0;
  font-size: 130%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body, #root {
  height: 100%;
}


.infinite-tree {
  padding-top: 5px;
  font-size: 90%;
  outline: 0;
}

.infinite-tree-toggler {
  width: 18px;
  display: inline-block;
  text-align: center;
  transform: rotate(90deg);
  color: black;
  font-weight: bold;
}

.infinite-tree-closed {
  transform: rotate(0deg);
}

.infinite-tree-type {
  width: 24px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

.infinite-tree-type-more {
}

.infinite-tree-item {
  height: 24px;
  line-height: 90%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
}

.infinite-tree-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.infinite-tree-node {
  height: 22px;
  vertical-align: middle;
}


.splitter-layout {
  position: relative;
  height: auto;
  min-height: 100%;
  flex: 1;
}

.splitter-layout>.layout-splitter {
  min-height: 100%;
  height: auto;
}